<template>
<div>
  <h1>Login</h1>
  <div>
    <label>Email:</label>
    <input v-model="email" class="form__input_email" type="text" name="formEmail">
  </div>
  <h1 v-show="emailFormat" class="login__h1_email" >
    Email must be in the format: email_(number)@gmail.com
  </h1>
  <div>
    <label>Password:</label>
    <input v-model="password" class="form__input_password" type="password" name="formPassword">
  </div>
  <h1 v-show="passwordFormat" class="password__h1_email" >
    Password must be in the format: passord(number)
  </h1>
  <button @click="doLogin" class="login_button" >Login</button>
  <h1 id="errorLogin" class="h1__login_wrong" style="visibility:hidden">
    The user does not have access</h1>
</div>
</template>

<script>
export default {
  data: () => ({
    email: 'email_100@gmail.com',
    password: 'passord100',
  }),
  computed: {
    isCompleted() {
      return `${this.email} ${this.password}`;
    },
    emailFormat() {
      const { email, isEmailAdress } = this;
      return !isEmailAdress(email);
    },
    passwordFormat() {
      const { password, isValidPassword } = this;
      return !isValidPassword(password);
    },
  },
  methods: {
    isEmptyField(string) {
      const lettersRegex = /(^\s*$|^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(?:[a-zA-Z]{2}|com|org|net|edu|gov|mil|biz|info|mobi|name|aero|asia|jobs|museum)$)/;
      return !!string.match(lettersRegex);
    },
    isValidPassword(string) {
      return string.length > 6;
    },
    isEmailAdress(string) {
      const lettersRegex = /^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/;
      return !!string.match(lettersRegex);
    },
    userFormValidator(validEmail, validPassword) {
      for (let i = 1; i < 101; i += 1) {
        const init = 'email_';
        const end = '@gmail.com';
        const passwordTest = `passord${i}`;
        const emailTest = init + i + end;
        if (validEmail === emailTest && validPassword === passwordTest) {
          localStorage.token = i;
          return true;
        }
      }
      return false;
    },
    doLogin() {
      const { email, password, userFormValidator } = this;
      if (userFormValidator(email, password)) {
        this.$router.push({ name: 'UserForm' });
      } else {
        document.getElementById('errorLogin').style.visibility = 'visible';
      }
    },
  },
};
</script>

<style>
</style>
