<template>
<div>
  <h1>UserForm</h1>
  <div>
    <label>Email:</label>
    <input v-model="email" class="form__input_email" type="text" name="formEmail">
  </div>
  <h5 v-show="emailFormat" class="form__h1_email_unformated">
        Email must be in the format: email_(number)@gmail.com
  </h5>
  <div>
    <label>Idade:</label>
    <input v-model="age" class="form__input_idade" type="text" name="formIdade">
  </div>
  <h5 v-show="correctAge" class="form__h1_idade_incorrect">
        Age has to be between: 18 and 99
  </h5>
  <div>
    <label form="system">Operational System:</label>
      <select v-model="sysOperation" name="form__select_system">
        <option value=" " >Choose your Operational System</option>
        <option value="Windows"> Windows</option>
        <option value="Linux Mint"> Linux Mint</option>
      </select>
      <br/>
      <h5 v-show="isSoSelected" class="form__label_so">
        Choose an Operational System
      </h5>
      <h2 v-show="isCompleted" class="form__congratulations">
        Congratulations!!
      </h2>
  </div>
</div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    age: '',
    sysOperation: '',
    userID: '',
  }),
  mounted() {
    this.userID = localStorage.getItem('token');
  },
  computed: {
    isCompleted() {
      const {
        isEmailAuthentic, isValidAge, isEmptyField, email, age, sysOperation,
      } = this;
      return isEmailAuthentic(email) && isValidAge(age) && (!isEmptyField(sysOperation));
    },
    emailFormat() {
      const { email, isEmailAuthentic } = this;
      return !isEmailAuthentic(email);
    },
    correctAge() {
      const { age, isValidAge } = this;
      return !isValidAge(age);
    },
    isSoSelected() {
      const { sysOperation, isEmptyField } = this;
      return isEmptyField(sysOperation);
    },
  },
  methods: {
    isEmptyField(string) {
      const lettersRegex = /(^\s*$|^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(?:[a-zA-Z]{2}|com|org|net|edu|gov|mil|biz|info|mobi|name|aero|asia|jobs|museum)$)/;
      return !!string.match(lettersRegex);
    },
    isValidAge(string) {
      const convertToInt = parseInt(string, 10);
      const ageRegex = /^1?(1[89]|[2-9]\d)$/;
      return ageRegex.test(convertToInt);
    },
    isEmailAuthentic(email) {
      const emailAuthentic = `email_${this.userID}@gmail.com`;
      if (emailAuthentic === email) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style>
</style>
